
:root{
  --bg: #f4f4f4;
  --dark-gray:#333;
  --white:#fff;
  --black:#000;
  --orange:#ff9500;
}

body {
  font-family: Arial, sans-serif;
  background-color: var(--bg);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.calculator {
  background-color: var(--dark-gray);
  border-radius: 20px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  width: 300px;
  text-align: right;
}

.logo {
  height: 3em;
  position: relative;
  width: 15.5em;
  top: -4.5em;
}

.logo img {
  width: 11em;
  height: 11em;
}

.display {
  color: var(--white);
  font-size: 24px;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 10px;
  background-color: var(--black);
  overflow: hidden;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
}

button {
  background-color: var(--white);
  color: var(--dark-gray);
  font-size: 18px;
  padding: 15px;
  border: none;
  border-radius: 18px;
  cursor: pointer;
}

.number:hover{
  color: var(--white);
  background:var(--orange) ;
}

.operator {
  background-color: var(--orange);
  color: var(--white);
}

.operator:hover{
  background-color: var(--white);
  color: var(--black);
}

#equals {
  grid-column: span 2;
}
